<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="React Routes">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern=".*\.(css|js|map|json|jpg|jpeg|png|gif|ico|svg|woff|woff2|eot|ttf)$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
